{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
<section {{ attributes }}>
  <div class="container col-xxl-8 px-4 py-5">
    {% if content.top %}
      <div class="row">
        {{ content.top }}
      </div>
    {% endif %}
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6 align-self-center">
        {{ content.first }}
      </div>
      <div class="col-lg-6 align-self-center">
        {{ content.second }}
      </div>
    </div>
  </div>
</section>
