<div class="bg-image row"
     style="background-image: url('{{ content.extra_field_hero_banner_image }}');
       height: 60vh">
  <div class="container-lg m-auto h-auto align-self-center">
    <h1 class="text-center text-white fw-bolder align-middle ">{{ content.field_title }}</h1>
    <div class="container-sm m-auto">
      <div class="mx-auto text-center text-white align-middle ">{{ content.field_text }}</div>
      {{ content.field_paragraph_links }}
    </div>
  </div>
</div>
